.container .nav-left {
  height: calc(100vh);
  color: #fff;
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
  overflow: auto;
}
.container .content {
  position: relative;
  padding: 20px;
}
